.persons-table {
    max-width: 863px;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    font-family: Calibri, Helvetica, sans-serif;
    font-size: 23px;
}

.persons-table tbody tr:nth-child(odd) {
    background-color: #eee;
}

.persons-table thead {
    background-color: #3598db;
    color: #eee;
    text-align: left;
}

.persons-table th {
    padding-top: 12px;
    padding-bottom: 10px;
}

.persons-table td {
    padding-top: 13px;
    padding-bottom: 12px;
}

.persons-table td,
.persons-table th {
    border: 1px solid #d3d3d3;
    font-weight: normal;
    padding-left: 10px;
    padding-right: 10px;
}

.col-first-name,
.col-last-name {
    width: 20%;
}

.col-job-title {
    width: 37%;
}

.col-twitter {
    width: 23%;
}